body {
    margin: 0px;
    padding: 0px;
}

.table2 {
    border-spacing: 0px 20px;
    column-gap: 0px;
    border-collapse: separate; 
    width: 100%;
    height: 100%;
}

.box1 {
    background-color: darkred;
    text-align: center;
    
}
.box2 {
    background-color: deeppink;
    text-align: center;
}
.box3 {
    background-color: brown;
    text-align: center;
}

.box_text_color p,
.box_text_color {
    color: white;
}

.box_text_color p,
.box_text_color h2 {
    padding: 10px;
    margin: 0;
}

.box_text_color a,
.box_text_color a:link,
.box_text_color a:visited,
.box_text_color a:hover,
.box_text_color a:active {
    color: inherit;
}
.table {
    width: 570px;
}

.td_image_cell img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #3d3d3d;
}
