#NavBar a {
    text-decoration: none;
    color: inherit;
}

#FirstNavItem.dropdown {
    position: relative;
}
.dropdown-content:hover {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    min-width: 180px;
    z-index: 10;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    color: black;

}


.dropdown-content a {
    display: block;
    color: black;
    padding: 16px 24px;
    background: white;
    border-bottom: 1px solid #eee;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background: #f0f0f0;
    color: black;
}

#FirstNavItem.dropdown:hover .dropdown-content {
    display: flex;
    background-color: white;
}

#NavBar{
    background-color: #333333;
    color: white;
    padding: 10px 3%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
#NavBar div {
    flex: 1;
    flex-basis: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin: 0 8px;
    border-radius: 4px;
    background: #333333;
    box-sizing: border-box;
}
#NavBar div:hover {
    background-color: #bdbbbb;
    color: white;
}

#FirstNavItem {
    font-weight: bold;
}

.container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
    color: #010101;
    font-family: 'Times New Roman', Times, serif;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}